<div class="tab-content gallery mt-5">
    <div class="tab-pane active" id="web-development">
      <div class="ml-auto mr-auto">
        <div class="row">
          <div class="col-md-6">
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                <figure class="cc-effect"><img src="{% static 'images/BB1.PNG' %}" alt="Image"/>
                  <figcaption>
                    <div class="h4">Recent Project</div>
                    <p>Web Design</p>
                    <p>Get Started</p>
                  </figcaption>
                </figure></a></div>
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                <figure class="cc-effect"><img src="{% static 'images/BB2.PNG' %}" alt="Image"/>
                  <figcaption>
                    <div class="h4">Recent Project</div>
                    <p>Web Design</p>
                    <p>Media</p>
                  </figcaption>
                </figure></a></div>
          </div>
          <div class="col-md-6">
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                <figure class="cc-effect"><img src="{% static 'images/BB3.PNG' %}" alt="Image"/>
                  <figcaption>
                    <div class="h4">Recent Project</div>
                    <p>Web Design</p>
                    <p>Peace</p>
                  </figcaption>
                </figure></a></div>
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                <figure class="cc-effect"><img src="{% static 'images/BB4.PNG' %}" alt="Image"/>
                  <figcaption>
                    <div class="h4">Recent Project</div>
                    <p>Web Design</p>
                    <p>Mu</p>
                  </figcaption>
                </figure></a></div>
          </div>
        </div>
      </div>
    </div>